.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 250px;
  height: 100vh;
  overflow-y: hidden;
}

.main-content {
  flex: 1;
  overflow-y: hidden;
}


html { /* 스크롤바 제거 */
  -ms-overflow-style: none;  /* for Internet Explorer and Edge */
  scrollbar-width: none;  /* for Firefox */
  overflow-y: scroll;
}

html::-webkit-scrollbar {
  display: none;  /* for Chrome, Safari, and Opera */
}

.mission-btn-container {
  text-align: right;
}